{% extends 'Admin/Head.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Report</title>
</head>

<body>
    <div id="tab" align="center">
    <form action="" method="post">
        {% csrf_token %}
        <br><br>
        <center><h3>User Report</h3></center>
        <br>
        <table  align="center" cellpadding="10" style="border-collapse: collapse;">
            
            <tr>
                <td>From Date</td>
                <td><input type="date" name="txtft" id=""></td>
            </tr>
            <tr>
                <td>To Date</td>
                <td><input type="date" name="txttt" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="View Report" name="btn"> </td>
            </tr>
        </table>
        <br>
        {% if data %}
        <table border="1" align="center" cellpadding="10">
            <tr>
                <th>Sl.No</th>
                <th>Name of Patient</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Place</th>
                <th>District</th>
                <th>Photo</th>
                <th>Date of joining</th>
                
                
            </tr>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.name}}</td>
                <td>{{i.contact}}</td>
                <td>{{i.email}}</td>
                <td>{{i.place.place_name}}</td>
                <td>{{i.place.district.district_name}}</td>
                <td><img src="{{i.photo.url}}" width="150" height="150"></td>
                <td>{{i.doj}}</td>
                
            </tr>
            {% endfor %}
        </table>
        {% endif %}

    </form>
    </div>
</body>

</html>
{% endblock content %}