{% extends 'Hospital/Head.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Availability</title>
</head>

<body>
    <div id="tab" align="center">
    <form action="" method="post">
        {% csrf_token %}
        <br><br>
        <center><h3>Set Psychologist Availability</h3></center>
        <br>
        <table border="1" align="center" cellpadding="10" style="border-collapse: collapse;">
            <tr>
                <td>Available date</td>
                <td><input type="date" name="txtdate" id=""></td>
            </tr>
            <tr>
                <td>From Time</td>
                <td><input type="time" name="txtft" id=""></td>
            </tr>
            <tr>
                <td>To Time</td>
                <td><input type="time" name="txttt" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Save" name="btn"> <input type="reset"
                        value="Cancel" name="btnc"></td>
            </tr>
        </table>
        <br>
        <table border="1" align="center" cellpadding="10">
            <tr>
                <th>Sl.No</th>
                <th>Date</th>
                <th>From Time</th>
                <th>To Time</th>
                <th>Action</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.date}}</td>
                <td>{{i.from_time}}</td>
                <td>{{i.to_time}}</td>
                <td><a href="{% url 'Hospital:delpyschologistavailability' i.id %}">Remove</a> | <a href="{% url 'Hospital:setPsychologisttoken' i.id %}">Set Token</a> </td>
            </tr>
            {% endfor %}
        </table>
    </form>
    </div>
</body>

</html>
{% endblock content %}