{% extends 'Hospital/Head.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tokens</title>
</head>
<body>
    <div id="tab" align="center">
    <form action="" method="post">
        {% csrf_token %} 
        <br><br>
        <center><h3>Set Token</h3></center>
        <table border="1" align="center" cellpadding="10">
            <tr>
                <td>Token Count</td>
                <td><input type="text" name="tokencount" id=""></td>          
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Generate" name="btn"></td>
            </tr>
        </table>
    </form>
    </div>
</body>
</html>
{% endblock content %}