{% extends 'Hospital/Head.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psychiatrist Registration</title>
</head>
<body>
    <div id="tab" align="center">
    <form action="" method="post" id="UserForm" data-place-url="{% url 'Guest:ajaxplace' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <br><br>
        <center><h3>Psychiatrist Registration</h3></center><br>
        <table align="center" cellpadding="10">
        <tr>
            <td>Name</td>
            <td><input type="text" name="txtname" id=""></td>
        </tr>
        <tr>
            <td>Contact</td>
            <td><input type="text" name="txtcontact" id=""></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="txtemail" id=""></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input type="radio" name="gender" id="" value="Male">Male <input type="radio" name="gender" id="" value="FeMale">FeMale<input type="radio" name="gender" id="" value="Other">Other </td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="txtaddress" id=""></td>
        </tr>
        <tr>
            <td>District</td>
                <td><select name="select_dis" id="districts">
                    <option value="">--------select--------</option>
                    {% for i in district %}
                    <option value="{{i.id}}">{{i.district_name}}</option>
                    {% endfor %}
                </select></td>
        </tr>
        <tr>
            <td>Place</td>
                <td><select name="select_place" id="places">
                    <option value="">--------select--------</option>
                    
                </select></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="file" name="txtfile" id=""></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="txtpass" id=""></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="txtcpass" id=""></td>
        </tr>
        <tr>
                <td colspan="2" align="center"><input type="submit" value="Register" name="Register"> <input type="reset" value="Cancel" name="Cancel"></td>
            </tr>
        </table>
        <br>
        <table border="1" align="center" cellpadding="10">
            <tr>
                <th>Sl.no</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Photo</th>
                <th>Action</th>
            </tr>
            {% for i in userdata %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.name}}</td>
                <td>{{i.contact}}</td>
                <td>{{i.email}}</td>
                <td><img src="{{i.photo.url}}" width="150" height="150"></td>
                <td><a href="{% url 'Hospital:delpyschiatrist' i.id %}">Remove</a> | <a href="{% url 'Hospital:pyschiatristavilable' i.id %}">Set Availability</a> | <a href="{% url 'Hospital:psychiatristreport' i.id %}">View Report</a></td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
    </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#districts").change(function () {
        var did = $(this).val();
        var ur = $("#UserForm").attr("data-place-url");
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#places").html(data);
            },
        });
    });
    function chkpwd(txtrp, txtp)
{
if((txtrp.value)!=(txtp.value))
{
    document.getElementById("pass").innerHTML = "<span style='color: red;'>Passwords Mismatch</span>";
}
}

function checknum(elem)
{
var numericExpression = /^[0-9]{8,10}$/;
if(elem.value.match(numericExpression))
{
    document.getElementById("contact").innerHTML = "";
    return true;
}
else
{
    document.getElementById("contact").innerHTML = "<span style='color: red;'>Numbers Only Allowed</span>";
    elem.focus();
    return false;
}
}



function emailval(elem)
{
var emailexp=/^([a-zA-Z0-9.\_\-])+\@([a-zA-Z0-9.\_\-])+\.([a-zA-Z]{2,4})$/;
if(elem.value.match(emailexp))
{
    document.getElementById("content").innerHTML = "";
    return true;
}
else
{
    
    document.getElementById("content").innerHTML ="<span style='color: red;'>Check Email Address Entered</span>";;
    elem.focus();
    return false;
}
}
function nameval(elem)
{
var emailexp=/^([A-Za-z ]*)$/;
if(elem.value.match(emailexp))
{
    document.getElementById("name").innerHTML = "";
    return true;
}
else
{
    
    document.getElementById("name").innerHTML = "<span style='color: red;'>Alphabets Are Allowed</span>";
    elem.focus();
    return false;
}
}
    </script>
</body>
</html>

{% endblock content %}