{% extends 'Guest/Head.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserRegistration</title>
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">User Registration</h2>
        </div>
    </div>
    <!-- <div id="tab" align="center"> -->
    <form action="" method="post" id="UserForm" data-place-url="{% url 'Guest:ajaxplace' %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        <table align="center"  width="25%">
        <tr>
            <td>Name</td>
            <td><input type="text" name="txtname" id=""></td>
        </tr>
        <tr>
            <td>Contact</td>
            <td><input type="text" name="txtcontact" id=""></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="txtemail" id=""></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="txtaddress" id=""></td>
        </tr>
        <tr>
            <td>District</td>
                <td><select name="select_dis" id="districts">
                    <option value="">--------select--------</option>
                    {% for i in district %}
                    <option value="{{i.id}}">{{i.district_name}}</option>
                    {% endfor %}
                </select></td>
        </tr>
        <tr>
            <td>Place</td>
                <td><select name="select_place" id="places">
                    <option value="">--------select--------</option>
                    
                </select></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="file" name="txtfile" id=""></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="txtpass" id=""></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="txtcpass" id="" onchange="chkpwd(this,txtpass)">
            <span id="pass"></span></td>
        </tr>
        <tr>
                <td colspan="2" align="center"><input type="submit" value="Register" name="Register"> <input type="reset" value="Cancel" name="Cancel"></td>
            </tr>
        </table>
        
    </form>
<!-- </div> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#districts").change(function () {
        var did = $(this).val();
        var ur = $("#UserForm").attr("data-place-url");
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#places").html(data);
            },
        });
    });
    function chkpwd(txtrp, txtp)
    {
        if((txtrp.value)!=(txtp.value))
    {
    document.getElementById("pass").innerHTML = "<span style='color: red;'>Passwords Mismatch</span>";
    }
    }

function checknum(elem)
{
var numericExpression = /^[0-9]{8,10}$/;
if(elem.value.match(numericExpression))
{
    document.getElementById("contact").innerHTML = "";
    return true;
}
else
{
    document.getElementById("contact").innerHTML = "<span style='color: red;'>Numbers Only Allowed</span>";
    elem.focus();
    return false;
}
}



function emailval(elem)
{
var emailexp=/^([a-zA-Z0-9.\_\-])+\@([a-zA-Z0-9.\_\-])+\.([a-zA-Z]{2,4})$/;
if(elem.value.match(emailexp))
{
    document.getElementById("content").innerHTML = "";
    return true;
}
else
{
    
    document.getElementById("content").innerHTML ="<span style='color: red;'>Check Email Address Entered</span>";;
    elem.focus();
    return false;
}
}
function nameval(elem)
{
var emailexp=/^([A-Za-z ]*)$/;
if(elem.value.match(emailexp))
{
    document.getElementById("name").innerHTML = "";
    return true;
}
else
{
    
    document.getElementById("name").innerHTML = "<span style='color: red;'>Alphabets Are Allowed</span>";
    elem.focus();
    return false;
}
}
    </script>
</body>
</html>
{% endblock content %}